/*-------------- fonts ----------------*/
@font-face {
    font-family: 'Graphik';
    src: url(fonts/GraphikRegular.otf) format('opentype'); 
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Graphik';
    src: url(fonts/GraphikLight.otf) format('opentype'); 
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'Graphik';
    src: url(fonts/GraphikMedium.otf) format('opentype'); 
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Graphik';
    src: url(fonts/GraphikSemibold.otf) format('opentype'); 
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Graphik';
    src: url(fonts/GraphikBold.otf) format('opentype'); 
    font-weight: 700;
    font-style: normal
}

/*--------------- main ---------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
:root{
    --dark-background: #181818;
    --primary: #4452FE;
    --second-text: #5C5C5C;
}
::before, 
::after{
    box-sizing: border-box;
}
body{
    background-color: var(--dark-background);
    font-family: 'Graphik', sans-serif;
    color: white;
    letter-spacing: 0.5px;
}
a{
    font-size: 14px;
    text-decoration: none;
    color: white;
   
}
p{
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
   
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
ul{
    list-style-type: none;
}
h1{
    font-size: 65px;
    font-weight: 500;
   
}
h2{
    font-size: 43px;
    font-weight: 300;
    line-height: 150%;
}
h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
/* ---------- button --------------- */
.btn{
    font-size: 14px;
    border: 1px solid white;
    background-color: var(--dark-background);
    padding: 14px 40px;
    color: white;
}
.btn-main{
    padding: 19px 35px;
}
.btn-blue{
    background-color: var(--primary);
    border: none;
}
.btn-black{
    position: relative;
    z-index: 1;
}
.btn-black:hover{
    color: var(--dark-background);
    cursor: pointer;
}
.btn-black::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: white;
    transition: height 0.3s ease;
    z-index: -1;
    
}
.btn-black:hover::before{
    height: 100%;
}
.btn-blue{
    position: relative;
    z-index: 1;
}
.btn-blue:hover{
    color: var(--dark-background);
    cursor: pointer;
}
.btn-blue::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: white;
    transition: height 0.3s ease;
    z-index: -1;
    
}
.btn-blue:hover::before{
    height: 100%;
}

/*--------- header section -------------*/
.header{
    width: 100%;
    position: relative;
}
.nav-bar{
    padding: 15px 0;
    background-color: var(--dark-background);
    justify-content: center;
    align-items: center;
    gap: 140px;
}
.nav-bar a{
    position: relative;
}
.nav-bar ul a::before{
    content: '';
    background-image: linear-gradient(90deg, #E438BA 0%, #43B6FF 100%);
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 0%;
    height: 10%;
    overflow-x: visible;
    transition: width 0.3s ease;
}
.nav-bar ul a:hover::before{
    cursor: pointer;
    width: 120%;
}
.nav-bar ul a:hover{
    color: #ffffff55;
}
.nav-bar img{
    height: 65px;
}
.header ul{
    gap: 35px;
}
.banner{
    margin: 100px 0;
    background-color: var(--dark-background);
    gap: 30px;
}
.banner h1{
    width: 45%;
    text-align: center;
}
.banner p{
    width: 35%;
    text-align: center;
}
.banner .flex-row{
    margin-top: 5%;
    gap: 30px;
}
.banner .cover{
    position: relative;
}
.banner .cover img{
    width: 100%;
    padding-bottom: 12%;   
}
.banner .cover::after{
    content: '';
    position: absolute;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
}

/* --------------- features section ----------------- */
.features {
    align-items: center;
    gap: 30px;
}
.features p{
    font-size: 16px;
    text-align: center;
    width: 40%; 
}
.features .content{
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    width: 70%;
}
.features .images{
    position: relative;
    width: 90%;
}
.features .images .chat-bot{
    width: 100%;
}
.features .images .line-chart-1{
    width: 60%;
    position: absolute;
    right: -20px;
    bottom: -50px;
}
.features .text{
    gap: 50px;
    width: 40%;
}
.features .text .title{
    gap: 20px;
    margin-bottom: 20px;
    width: 75%;
}
.features .text p{
    font-size: 13px;
    width: 75%;
    text-align: left;
}

/* --------------- contents section ------------- */
.contents{
    margin-top: 40vh;
    gap: 10px;
}
.contents p{
    text-align: center;
    width: 35%;
}
.contents .container{
    justify-content: center;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    gap: 30px;
}
.contents .card{
    border-radius: 10px;
    background-color: white;
    padding: 50px 30px 30px 30px;
    gap: 25px;
    width: 39%;
    justify-content: space-between
}
.contents .card h3{
    color: black;
    font-weight: 500;
}
.contents .card p{
    color: var(--second-text);
    font-size: 14px;
    width: 70%;
}
.contents .card img{
    width: 100%;
}

/* ------------ gallery section ------------- */
.gallery{
    gap: 33px;
    margin: 100px auto;
}
.gallery div{
    gap:25px;
}
.gallery img{
    border-radius: 10px ;
    height: 40vh;
}
.gallery p{
    width: 35%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -20px;
}